params {
    global_params {
        outdir = 'test_output'
        threads = 2
    }
    spades {
        threads = 2
        memory = 4
    }
    quast {
        reference = ''
    }
    prokka {
        outdir = 'test_output/prokka'
    }
    abricate {
        database = 'ResFinder'
    }
}

process {
    withDocker = true
    containerEngine = 'docker'
    docker.enabled = true
    docker.image = 'staphb/fastqc:latest'
}

docker {
    enabled = true
}

process {
    withName: fastqc {
        container ='staphb/fastqc:latest'
    }
    withName: spades {
        container ='staphb/spades:latest'
    }
    withName: quast {
        container ='staphb/quast:latest'
    }
    withName: prokka {
        container ='staphb/prokka:latest'
    }
    withName: abricate {
        container ='staphb/abricate:latest'
    }
}